<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>HigiTwo</title>
</head>
<body>
    <div class="main">
        <div class="content">
            <div class="contentHeader">
                <div class="logo">
                    <img id="imageLogo" src="../assets/logo/colorfull/horizontal_blacklogo.png" alt="Logo">
                </div>
                <ul id="menu">
                    <li><a href="#">Project</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>