* {
    margin: 0;
        padding: 0;
        box-sizing: border-box;

      }

section {
        display: flex;
        height: 96vh;
        width: 100%;
        background-color: black;
      }

      #container{
        width: 50%;
        overflow: hidden;
      }
      

      #img{
      height: 100%;
      object-fit: cover; /* Ajusta o comportamento da imagem para cobrir totalmente a div */
      transform: translateX(-12%);
      }

      #text{
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 50px;
      }

      #text h1, p{
        color: white;
        font-family: 'Poppins', sans-serif;
      }

      #text h1{
        font-size: 30px;
      }

      #text p{
       padding-top: 20px;
        font-size: 23px;
      }

      footer {
        background-color: black;
        padding: 10px;
        text-align: center;
      }

      .logoFooter {
        width: 8%;
      }