<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>Document</title>
</head>

<body>
    <section>
        <div id="img">Olá</div> <br>
        <div id="text">
            <h1>Pc Gamer Syndrome</h1>
            <p>life is a constant oscillation between
                the desire to have and the boredom of possessing arthur schopenhauer. 
                <br>
                <br>
                it's not new that "gamer" computers are many people's dreams, that
                "when i have this, it's going to be surreal". the feeling
                of objective, of a goal to be achieved and, over time,
                achleving it piece by piece, we finally reach the final product,
                the long-awaited pc gamer.
                <br>
                <br>
                an infinity of games and unique experiences that can be experienced, but within this context we end up
                arriving at the paradox of choice, an
                "Infinity" of options where the decision of what to play and experience becomes frustrating, and the
                dream ends up coming to an end. wearing out and many times the gamer computer becomes equivalent to a
                simple notebook being used just to watch series, movies or anything else that is not what it was
                actually set up to do. the famous
                "pc gamer syndrome"
                <br>
                <br>
                as time went by, more and more games were released and we forgot about great releases that we should
                enjoy, that we really wanted to experience, but often we end up not even remembering and these games
                fall into oblivion.
                <br>
                <br>
                aiming at this context, higitwo's proposal is, in fact, to be a "cure" for this condition, to help
                people
                gradually get out of this situation and return to that passion of childhood/adolescence.
                <br>
                <br>
                a way to organize the games you've always wanted to play, in various ways, by date, franchise, greatest
                affinity, among others, with an implementation of game suggestions based on those already on the list.
                with a modern, friendly and easy-to-use interface.
            </p>
        </div>
    </section>
    <footer>
        <p>HIGITWO</p>
    </footer>
</body>

</html>