<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../views/contact_us/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Contact Us</title>
</head>

    <body>
        
  
    <form class="contato" method="get">
    <div class="container">
        <div class="title">
        <h1>CONTACT US</h1>
        <div class="form">
            <div class="inputStyle">
                <div class="inputName">
                    <input type="text" name="firstname" placeholder="first name" autocomplete="name" required>
                    <input type="text" name="lastname" placeholder="last name" autocomplete="lastname" required>
                </div>
                <input type="email" name="email" placeholder="email" autocomplete="email"required >
                <input type="number" name="phone" placeholder="message" autocomplete="tel" required>
            </div>
            </div>
            <div class="button">
            <button id="btnEnviar" type="submit">Enviar</button>
            </div>
        </div>
        </div>
    </div>
    </form>
    <script src="script.js"></script>
    </body>

    </html>