@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
}


/* header */
#imageLogo {
    width: 300px;
    height: 50px;
}

.contentHeader {
    display: flex;
    width: 100%;
}

#menu {
    display: flex;
    margin-left: 150px;
}

li {
    list-style: none;
    margin-left: 25px;
    font-size: max(2vw);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/* home */

.home {
    position: relative;
    width: 100%;
    height: 46.5vw;
}
.home img {
        position: absolute;
        width: 100%;
}
.homeText h1 {
    color: whitesmoke;
    padding-top: 10%;
    padding-left:7%;
    padding-right:60%;
    position: relative;  
    font-size: 4vw;
}
.homeText p {
    color: whitesmoke;
    padding-top: 1%;
    padding-left:7%;
    padding-right:50%;
    position: relative;  
    font-size: 2vw;
}
/* pagecontent */

.myGameListBox {
    color: aliceblue;
    /* font-size: 5pw; */
    display: flex;
    padding: 8%;
    flex-direction: row;
    align-items: center;
    background-color: --middle_grey;
    justify-content: center;
}

.myGameListBox p {
    font-size: 2vw;
}


.myGameListBox img {
    margin-right: 8%;
    width:40%;
    height:40%;
}

.recomendationsBox {
    color: aliceblue;
    font-size: 2vw;
    flex-direction: row-reverse;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recomendationsBox img {
    margin-left:7%;
    width:40%;
    height:40%;
}

.gamecardBox {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    font-size: 2vw;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamecardBox img {
    margin-right: 10%;
    width:40%;
    height:40%;

}

.community {
    /* display: inline-block; */
    position: relative;

}
.community img {
    position: absolute;
    width: 100%;
}

.texts {
    position: relative;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 28%;
    padding-left: 5%;
    padding-right: 5%;
}

.joinCommunity h1 {
    align-self: center;
    font-size: 3vw;
    margin-bottom: 5%;
}
.joinCommunity  p {
    padding-right: 40%;
    font-size: 1.5vw;
}

.followUs {
    margin-left: 15%;
    margin-bottom: 1.44%;
}

.followUs h1{
    font-size: 3vw;
    margin-bottom: 10%;
}

.followUs p {
    font-size: 1.5vw;
}

@media screen and (max-width: 980px) {
    #imageLogo {
        display: none;
    }

    #menu {
        margin-left: 0%;
    }

    .contentHeader {
        justify-content: center;
    }
}